body {
    background-color: whitesmoke;
    font-family: Montserrat, sans-serif;
    
}

h1 {
    text-align: center
}

h3 {
    font-style: italic;
}

#name {
    font-family: Nunito, sans-serif;
}

.button {
    background-color: #11a36a;
    border-radius: 4px;
    color: #fff;
    text-transform: none;
    padding: 0.2% 3%;
    
}

#Maior {
    font-size: 20px;
}

#segundo-Maior {
    font-size: 18px;
}