body {
    background-color: whitesmoke;
    font-family: Montserrat, sans-serif;
    
}

h1 {
    text-align: center;
    background-color: #6b8f71;
}

h3 {
    font-style: italic;
}

#name {
    font-family: Nunito, sans-serif;
}

#minhaFoto {
    border-radius: 2000%;
    position: absolute;
    left: 900px;
    top: 300px;
    
}

.button {
    background-color: #6b8f71;
    border-radius: 4px;
    color: #d9fff5;
    text-transform: none;
    padding: 0.2% 3%;
}
.button:hover {
    background-color: #aad2ba;
}
.button:active{
    color: #1d1e18;
}

#Maior {
    font-size: 20px;
}

#segundo-Maior {
    font-size: 18px;
}